@import "./variables";

.main-home-style {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-landing-home {
  font-size: 28px;
  color: $secondary;
  text-align: start;
  font-weight: bold;
}

.text-landing-home p {
  font-size: 18px;
  color: $secondary;
  text-align: start;
  font-weight: 300;
}


.lottie{
  width: 60px;
  height: 60px;
  position: relative;
  right: 38px;
  top: 41px;
  @media (max-width: 767px) {
    width: 50px;
  height: 50px;
    right: 30px;
    top: 28px;
  }
}

.lotti-home{
  width: 97%;
  height: auto;

  @media (max-width: 767px) {
    display: none; /* Hide on small screens */
  }
}